<?xml version="1.0" encoding="UTF-8"?>
<!--
	Vokseverk.Web.live.xdt.config
	
	Adds custom settings to the LIVE environment
	
	- Enable compression
	- Set the Client Cache to one year
	- Prevent old IE browsers to use the compatibility engine(s)
	- Add rewrite from www.HOSTNAME.com to HOSTNAME.com
	- Add SMTP settings

	TODO:
	- [ ] Replace HOSTNAME with actual hostname
	- [ ] Replace .com with actual TLD
	- [ ] Replace SPARKPOST_PASSWORD with actual password
-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.webServer>
		<!-- First one is if the element doesn't exist -->
		<urlCompression xdt:Transform="InsertIfMissing" doStaticCompression="true" doDynamicCompression="true" />
		<!-- This one is for when it's there already but compression is off -->
		<urlCompression xdt:Transform="SetAttributes(doStaticCompression,doDynamicCompression)" doStaticCompression="true" doDynamicCompression="true" />
		
		<staticContent>
			<clientCache xdt:Transform="InsertIfMissing" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
		</staticContent>
		
		<httpProtocol>
			<customHeaders>
				<add xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" name="X-UA-Compatible" value="IE=edge" />
			</customHeaders>
		</httpProtocol>
		
		<rewrite xdt:Transform="InsertIfMissing">
			<rules xdt:Transform="InsertIfMissing">
				
				<!-- Redirect www.HOSTNAME.com to HOSTNAME.com -->
				<rule xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" name="Remove www from .com" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="www\.HOSTNAME\.com" />
					</conditions>
					<action type="Redirect" url="https://HOSTNAME.com/{R:1}" redirectType="Permanent" />
				</rule>
				
			</rules>
		</rewrite>
		
	</system.webServer>
	
	<system.net>
		<mailSettings xdt:Transform="InsertIfMissing">
			<smtp from="no-reply@HOSTNAME.com" xdt:Transform="InsertIfMissing" xdt:Locator="Match(from)">
				<network xdt:Transform="InsertIfMissing" xdt:Locator="Match(host)" host="smtp.sparkpostmail.com" port="587" userName="SMTP_Injection" password="SPARKPOST_PASSWORD" />
			</smtp>
		</mailSettings>
	</system.net>

</configuration>
