<?xml version="1.0" encoding="UTF-8"?>
<SiteSettings environment="local">
	<Settings for="development">
		<mainHostHeader>dev-{HOST_HEADER}.s1.umbraco.io</mainHostHeader>
		<mainStyleSheet>app.css</mainStyleSheet>
		<mainScriptFile>app.js</mainScriptFile>
		<assetsFolder>A0B0</assetsFolder>
		<mediaServer></mediaServer>

		<!-- Misc. feature toggles -->
		<Features>
			<!-- <enableSearch>yes</enableSearch> -->
		</Features>
		
		<Injections>
			<!-- @position="(head|start|endbody|end)" -->
		</Injections>
	</Settings>
	
	<Settings for="live">
		<allowedIPs></allowedIPs>
		<mainHostHeader>{HOSTHEADER}.dk</mainHostHeader>
		<mainStyleSheet>app.css</mainStyleSheet>
		<mainScriptFile>app.js</mainScriptFile>
		<assetsFolder>A0B0</assetsFolder>
		<mediaServer></mediaServer>
		
		<Injections>
			<!-- @position="(head|start|endbody|end)" -->
			<inject position="end">
				<!-- E.g. Google Analytics/TagManager scripts -->
			</inject>
		</Injections>
		
	</Settings>
</SiteSettings>
