<?xml version="1.0" encoding="UTF-8"?>
<!--
	Contains settings that (can) vary between environments
-->
<SiteSettings environment="local">
	<Settings for="local">
		<mainHostHeader>{HOSTNAME}.local</mainHostHeader>
		<mainStyleSheet>app.css</mainStyleSheet>
		<mainScriptFile>app.js</mainScriptFile>
		<assetsFolder>A0B0</assetsFolder>
		<mediaServer></mediaServer>

		<!-- Misc. feature toggles -->
		<Features>
			<!-- <enableSearch>yes</enableSearch> -->
		</Features>
	</Settings>
	
	<Settings for="development">
		<mainHostHeader>dev-{HOSTNAME}.s1.umbraco.io</mainHostHeader>
		<mainStyleSheet>app.css</mainStyleSheet>
		<mainScriptFile>app.js</mainScriptFile>
		<assetsFolder>A0B0</assetsFolder>
		<mediaServer></mediaServer>

		<!-- Misc. feature toggles -->
		<Features>
			<!-- <enableSearch>yes</enableSearch> -->
		</Features>
	</Settings>
	
	<Settings for="live">
		<allowedIPs></allowedIPs>
		<mainHostHeader>{HOSTNAME}.dk</mainHostHeader>
		<mainStyleSheet>app.css</mainStyleSheet>
		<mainScriptFile>app.js</mainScriptFile>
		<assetsFolder>A0B0</assetsFolder>
		<mediaServer></mediaServer>
		
		<!-- Misc. feature toggles -->
		<Features>
			<!-- <enableSearch>yes</enableSearch> -->
		</Features>
	</Settings>
</SiteSettings>
