<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration [
	<!ENTITY email "no-reply@domain.com">
	<!ENTITY hostname "domain.com">
	<!ENTITY smtpHost "smtp.sparkpostmail.com">
	<!ENTITY smtpPort "587">
	<!ENTITY smtpUser "SMTP_Injection">
	<!ENTITY smtpPass "">
]>
<!--
	Vokseverk.Web.live.xdt.config
	
	Adds custom settings to the LIVE environment
	
	- Enable compression
	- Set the Client Cache to one year
	- Prevent old IE browsers to use the compatibility engine(s)
	- Add rewrite from www.&hostname; to &hostname;
	- Add SMTP settings
-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.webServer>
		<!-- First one is if the element doesn't exist -->
		<urlCompression xdt:Transform="InsertIfMissing" doStaticCompression="true" doDynamicCompression="true" />
		<!-- This one is for when it's there already but compression is off -->
		<urlCompression xdt:Transform="SetAttributes(doStaticCompression,doDynamicCompression)" doStaticCompression="true" doDynamicCompression="true" />
		
		<staticContent>
			<clientCache xdt:Transform="InsertIfMissing" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
		</staticContent>
		
		<httpProtocol>
			<customHeaders>
				<add xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" name="X-UA-Compatible" value="IE=edge" />
			</customHeaders>
		</httpProtocol>
		
		<rewrite xdt:Transform="InsertIfMissing">
			<rules xdt:Transform="InsertIfMissing">
				
				<!-- Redirect www.&hostname; to &hostname; -->
				<rule xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" name="Remove www from &hostname;" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="www.&hostname;" />
					</conditions>
					<action type="Redirect" url="https://&hostname;/{R:1}" redirectType="Permanent" />
				</rule>
				
			</rules>
		</rewrite>
		
	</system.webServer>
	
	<system.net>
		<mailSettings xdt:Transform="InsertIfMissing">
			<smtp from="&email;" xdt:Transform="InsertIfMissing" xdt:Locator="Match(from)">
				<network xdt:Transform="InsertIfMissing" xdt:Locator="Match(host)" host="&smtpHost;" port="&smtpPort;" userName="&smtpUser;" password="&smtpPass;" />
			</smtp>
		</mailSettings>
	</system.net>

</configuration>
